@import "mocha.css";

* {
    font-family: FantasqueSansMono Nerd Font;
    font-size: 17px;
    min-height: 0;
}

#waybar {
    background: transparent;
    color: @text;
    margin: 5px 5px;
}


#sway {
    border-radius: 1rem;
    margin: 5px;
    background-color: @surface0;
    margin-left: 1rem;
}

#mode,
#scratchpad {
    padding: 0.5rem 1rem;
    margin-left: 1rem;
}

#mode {
    border-radius: 1rem;
    background-color: @surface1;
}

#workspaces button {
    color: @lavender;
    border-radius: 1rem;
    padding: 0.4rem;
}

#workspaces button.active {
    color: @sky;
    border-radius: 1rem;
}

#workspaces button.urgent {
    color: @red;
    border-radius: 1rem;
}

#workspaces button:hover {
    color: @sapphire;
    border-radius: 1rem;
}

#privacy {
    background-color: @red;
    margin: 5px;
    border-radius: 1rem;
    padding: 1rem;
}


#sysmon {
    border-radius: 1rem;
    background-color: @surface0;
    margin: 5px;
}


#cpu,
#memory {
    padding: 0.5rem 0.6rem;
    margin: 5px 0;
}

#cpu {
    color: @sapphire;
}

#memory {
    color: @pink;
}


#custom-music,
#idle_inhibitor,
#tray,
#backlight,
#network,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
}

#network {
    color: @sapphire;
}

#network.disconnected,
#network.disabled {
    color: @red;
}

#clock {
    color: @blue;
    border-radius: 0px 1rem 1rem 0px;
    margin-right: 1rem;
}

#battery {
    color: @green;
}

#battery.charging {
    color: @green;
}

@keyframes blink {
    to {
        background-color: @red;
        color: @crust;
    }
}

#battery.warning:not(.charging) {
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#backlight {
    color: @yellow;
}

#backlight, #battery {
    border-radius: 0;
}

#idle_inhibitor {
    color: @white;
    border-radius: 1rem 0px 0px 1rem;
    margin-left: 1rem;
    padding-right: 1.2rem;
}

#idle_inhibitor.activated {
    color: @white;
    padding-right: 1.2rem;
    background-color: @surface1;
    border-radius: 1rem 0px 0px 1rem;
}

#pulseaudio {
    color: @maroon;
}

#custom-music {
    color: @mauve;
    border-radius: 1rem;
}

#custom-lock {
    border-radius: 1rem 0px 0px 1rem;
    color: @lavender;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 0px 1rem 1rem 0px;
    color: @red;
}

#tray {
    margin-right: 1rem;
    border-radius: 1rem;
}
